
/Yearly
/venv
/Data
/myenv
merged_data_step_1.csv
merged_data_step_1_dropped.csv
data_summary.xlsx
merged_data_step_2_Cleaned.csv
merged_data_step_3_Encoded.csv
Data/merged_data_dropped.csv
Data/Sampled_data.csv
Classification/BoGender_SPLITS
Classification/CoGender_SPLITS
Classification/BoRace_SPLITS
Classification/CoRace_SPLITS
Classification/BoGender_CV
Classification/CoGender_CV
Classification/BoRace_CV
Classification/CoRace_CV
Classification/BoGender_RFECV
Classification/CoGender_RFECV
Classification/BoRace_RFECV
Classification/CoRace_RFECV
Classification/catboost_info
